<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add case to customer</title>
</head>
<body>
<h1>Form</h1>
<form th:action="@{/case/add/customer/{customerId}(customerId=${customerId})}" th:object="${case}" method="post">
    <table>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Hourly rate:</td>
            <td><input type="text" th:field="*{hourlyRate}"/></td>
        </tr>
        <tr>
            <td>Status :</td>
            <td>
                <select th:field="*{status}">
                    <option th:each="caseStatus : ${T(com.kt.claudiattorney.entity.CaseStatus).values()}"
                            th:value="${caseStatus}"
                            th:text="${caseStatus}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
            <td>
                <button type="reset">Reset</button>
            </td>
        </tr>
    </table>
</form>

<table>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Hourly rate</th>
        <th>Status</th>
        <th>Customers</th>
        <th>Create customer</th>
        <th>Add customer</th>
        <th>Prestation</th>
        <th>Create prestation</th>
    </tr>
    <tr th:each="case : ${cases}">
        <td th:text="${case.id}"></td>
        <td th:text="${case.description}"></td>
        <td th:text="${case.hourlyRate}"></td>
        <td th:text="${case.status}"></td>
        <td>
            <ul>
                <li th:each="customer : ${case.customers}" th:text="${customer.firstName}"></li>
            </ul>
        </td>
        <td><a th:href="@{/customer/{caseId}/create(caseId=${case.id})}" class="btn btn-default">Create customer</a>
        </td>
        <td>
            <a href="#" class="open-map" onclick="openPopUp()">Add customer to this case</a>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var message = [[${case.id}]];
                /*]]>*/
                function openPopUp() {
                    window.open('customer/add/' + message, 'window', 'width=500,height=300');
                }
            </script>
        </td>
        <td>
            <ul>
                <li th:each="prestation : ${case.prestations}" th:text="${prestation.details}"></li>
            </ul>
        </td>
        <td><a th:href="@{/prestation/{caseId}/create(caseId=${case.id})}" class="btn btn-default">Create prestation</a>
        </td>
    </tr>
</table>

</body>
</html>