<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Claudia-ttorney web-app</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/tooltip.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body style="padding-top: 70px; overflow-x: hidden">
<div w3-include-html="navbar.html"></div>
<script>
    w3IncludeHTML();
</script>
<div class="row">
    <div class="col-lg-10">
        <h1 style="padding-left: 70px">Manage Customers</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" data-toggle="modal" data-target="#modal" class="btn btn-success btn-lg">
            <i class="glyphicon glyphicon-plus"></i> Add Customer
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-3" style="border:1px solid #999">
        <!-- Search customers -->
        <h3>Search Customers</h3>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter search text"/>
            <span class="input-group-addon" id="basic-addon1">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>

        <div class=" pre-scrollable" style="max-height: 720px">
            <div class="col-lg-12 customer-row animate " th:each=" customer : ${customers}">
                <div class="row" style="padding-top: 10px">
                    <div class="col-lg-3">
                        <br/>
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="col-lg-9">
                        <div style="font-weight:bold;">
                            <a th:text="*{customer.firstName} + ' ' + *{customer.lastName}"
                               th:with='cleaned = ${#strings.replace(customer,"&apos;", "\&apos;")}'
                               th:onclick="'populateForm(\'' + ${cleaned} + '\');'"
                               style="cursor:pointer"></a>
                        </div>
                        <div th:text="*{customer.address}"></div>
                        <span class="pull-right" title="Delete customer">
                        <a href="#"
                           class="icon"
                           th:with='cleaned = ${#strings.replace(customer,"&apos;", "\&apos;")}'
                           th:onclick="'javascript:populateDeleteForm(\'' + ${cleaned} + '\');'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        </span>
                        <a th:text="*{customer.mail}" th:href="'mailto:' + *{customer.mail}"></a>
                        <div th:text="*{customer.phoneNumber}"></div>
                    </div>
                </div>
                <hr style="border-top: dotted 1px;"/>
            </div>
        </div>
    </div>
    <div class="col-lg-9" style="border:1px solid #999; overflow-y:auto">
        <div class="form-horizontal">
            <fieldset>
                <legend>Customer Detail</legend>

                <div class="col-lg-3">
                    <span class="glyphicon glyphicon-user" style="font-size: 2000%"></span>
                </div>

                <form th:action="@{/customer}" th:object="${customer}" class="form-horizontal" method="post">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="currentCustomerFirstName" class="col-lg-3 control-label">First Name</label>
                            <div class="col-lg-8">
                                <input id="currentCustomerFirstName" type="text" class="form-control"
                                       disabled="disabled" th:field="*{firstName}" required="required"/>
                            </div>
                            <div class="col-lg-1">
                                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                                        title="Click to edit customer" type="button"
                                        onclick="enableOrDisableInput(false)">
                                    Edit
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentCustomerLastName" class="col-lg-3 control-label">Last Name</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="currentCustomerLastName"
                                       disabled="disabled" th:field="*{lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentCustomerAddress" class="col-lg-3 control-label">Address</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="currentCustomerAddress"
                                       disabled="disabled" th:field="*{address}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentCustomerPhoneNumber" class="col-lg-3 control-label">Phone Number</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="currentCustomerPhoneNumber"
                                       disabled="disabled" th:field="*{phoneNumber}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentCustomerEmail" class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="currentCustomerEmail" disabled="disabled"
                                       th:field="*{mail}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentCustomerOther" class="col-lg-3 control-label">Other</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="currentCustomerOther" disabled="disabled"
                                       th:field="*{other}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentCustomerVat" class="col-lg-3 control-label">Vat</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="currentCustomerVat" disabled="disabled"
                                       th:field="*{vat}"/>
                                <input id="currentCustomerId" hidden="hidden" type="text" th:field="*{id}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-1 col-lg-offset-3">
                                <button id="saveEditing" class="btn btn-primary" type="submit"
                                        disabled="disabled">
                                    Save editing
                                </button>
                            </div>
                            <div class="col-lg-1 col-lg-offset-1">
                                <button id="cancelEditing" type="button" class="btn btn-warning"
                                        onclick="enableOrDisableInput(true)"
                                        disabled="disabled">
                                    Cancel editing
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div id="content"></div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form th:action="@{/deleteCustomer}" th:object="${customer}" class="form-horizontal" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Delete Customer</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerFirstName">First name</label>
                        <div class="col-md-6">
                            <input th:field="*{firstName}" id="deleteCustomerFirstName" name="textinput" type="text"
                                   placeholder="placeholder"
                                   class="form-control input-md" required="" disabled="disabled"/>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerLastName">Last name</label>
                        <div class="col-md-6">
                            <input th:field="*{lastName}" id="deleteCustomerLastName" name="color" type="text"
                                   placeholder="#F0F0F0"
                                   class="form-control input-md" required="" disabled="disabled"/>
                        </div>
                    </div>
                    <!-- Appended Input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerAddress">Address</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                    <textarea th:field="*{address}" id="deleteCustomerAddress" name="account"
                                              class="form-control"
                                              rows="5" cols="100"
                                              style="resize: none"
                                              placeholder="Alan Francis" type="text" disabled="disabled"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Appended Input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerPhoneNumber">Phone number</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input th:field="*{phoneNumber}" id="deleteCustomerPhoneNumber" name="apikey"
                                       class="form-control"
                                       placeholder="QWERTYUIOASDFGHJXCVBNMZXZ567" type="text" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerEmail">Email</label>
                        <div class="col-md-6">
                            <input th:field="*{mail}" id="deleteCustomerEmail" name="email" type="text"
                                   placeholder="name@domain.com"
                                   class="form-control input-md" disabled="disabled"/>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerOther">Other</label>
                        <div class="col-md-6">
                            <input th:field="*{other}" id="deleteCustomerOther" name="sms" type="text"
                                   placeholder="+919829839832"
                                   class="form-control input-md" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="deleteCustomerVat">Vat</label>
                        <div class="col-md-6">
                            <input th:field="*{vat}" id="deleteCustomerVat" name="sms" type="text"
                                   placeholder="+919829839832"
                                   class="form-control input-md" disabled="disabled"/>
                            <input id="deleteCustomerId" hidden="hidden" type="text" th:field="*{id}"/>
                        </div>
                    </div>
                    <!-- Button (Double) -->
                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Delete customer</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form th:action="@{/customer}" th:object="${customer}" class="form-horizontal" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Enter new customer</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">First name</label>
                        <div class="col-md-6">
                            <input th:field="*{firstName}" id="textinput" name="textinput" type="text"
                                   placeholder="placeholder"
                                   class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="color">Last name</label>
                        <div class="col-md-6">
                            <input th:field="*{lastName}" id="color" name="color" type="text" placeholder="#F0F0F0"
                                   class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <!-- Appended Input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="account">Address</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                    <textarea th:field="*{address}" id="account" name="account" class="form-control"
                                              rows="5" cols="100"
                                              style="resize: none"
                                              placeholder="Alan Francis" type="text"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Appended Input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="apikey">Phone number</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input th:field="*{phoneNumber}" id="apikey" name="apikey" class="form-control"
                                       placeholder="QWERTYUIOASDFGHJXCVBNMZXZ567" type="text"/>
                                <span class="input-group-addon">Test</span>
                            </div>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email</label>
                        <div class="col-md-6">
                            <input th:field="*{mail}" id="email" name="email" type="text"
                                   placeholder="name@domain.com"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="sms">Other</label>
                        <div class="col-md-6">
                            <input th:field="*{other}" id="sms" name="sms" type="text" placeholder="+919829839832"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="sms">Vat</label>
                        <div class="col-md-6">
                            <input th:field="*{vat}" id="sms" name="sms" type="text" placeholder="+919829839832"
                                   class="form-control input-md"/>
                        </div>
                    </div>
                    <!-- Button (Double) -->
                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="reset" class="btn btn-warning">Clear</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">

    function populateDeleteForm(inputCustomer) {
        var customer = JSON.parse(inputCustomer);
        $('#deleteCustomerFirstName').val(customer.firstName);
        $('#deleteCustomerLastName').val(customer.lastName);
        $('#deleteCustomerAddress').val(customer.address);
        $('#deleteCustomerPhoneNumber').val(customer.phoneNumber);
        $('#deleteCustomerEmail').val(customer.mail);
        $('#deleteCustomerOther').val(customer.other);
        $('#deleteCustomerVat').val(customer.vat);
        $('#deleteCustomerId').val(customer.id);
        $('#deleteModal').modal('show');
    }

    function populateForm(inputCustomer) {
        enableOrDisableInput(true);
        var customer = jQuery.parseJSON(inputCustomer);
        $("#content").load("/customer/" + customer.id);
        $('#currentCustomerFirstName').val(customer.firstName);
        $('#currentCustomerLastName').val(customer.lastName);
        $('#currentCustomerAddress').val(customer.address);
        $('#currentCustomerPhoneNumber').val(customer.phoneNumber);
        $('#currentCustomerEmail').val(customer.mail);
        $('#currentCustomerOther').val(customer.other);
        $('#currentCustomerVat').val(customer.vat);
        $('#currentCustomerId').val(customer.id);
    }

    $('#modal').on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

    function enableOrDisableInput(boolean) {
        $('#currentCustomerFirstName').attr('disabled', boolean);
        $('#currentCustomerLastName').attr('disabled', boolean);
        $('#currentCustomerAddress').attr('disabled', boolean);
        $('#currentCustomerPhoneNumber').attr('disabled', boolean);
        $('#currentCustomerEmail').attr('disabled', boolean);
        $('#currentCustomerOther').attr('disabled', boolean);
        $('#currentCustomerVat').attr('disabled', boolean);
        $('#cancelEditing').attr('disabled', boolean);
        $('#saveEditing').attr('disabled', boolean);
    }
</script>
</body>
</html>
